* * * * * curl -sf "$WEB_APP_URL/api/tasks/cron" -H "Authorization: Bearer $CRON_SECRET"
*/5 * * * * curl -sf "$WEB_APP_URL/api/cron/calendar-subscriptions" -H "Authorization: Bearer $CRON_SECRET"
*/5 * * * * curl -sf "$WEB_APP_URL/api/cron/selected-calendars" -H "Authorization: Bearer $CRON_SECRET"
0 */12 * * * curl -sf "$WEB_APP_URL/api/cron/queuedFormResponseCleanup" -H "Authorization: Bearer $CRON_SECRET"
0 3 * * * curl -sf "$WEB_APP_URL/api/cron/calendar-subscriptions-cleanup" -H "Authorization: Bearer $CRON_SECRET"
0 0 * * * curl -sf "$WEB_APP_URL/api/tasks/cleanup" -H "Authorization: Bearer $CRON_SECRET"
